@font-face {
    font-family: 'CP Mono';
    src: url('/fonts/cpmono.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'CP Mono';
    src: url('/fonts/cpmono_bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }
  